@font-face {
    font-family: "0xProto";
    src: url("../fonts/0xProto-Regular.woff2");
}
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    background: #0e0e0e;
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 80%;
        .graph {
            width: 30%;
            position: relative;
            left: 10%;
            margin-top: 100px;
        }
        .typing {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            width: 70%;
            position: relative;
            left: -10%;
            .text-center{
                font-family: "0xProto";
                color: aliceblue;
            }
            .commandContainer{
                height: 300px;
                width: 500px;
                padding: 1em;
                overflow-y: auto;
                border: 2px solid #9c9c9c;
                .commandLog{
                    font-family: "0xProto";
                }
                .input-wrapper{
                    display: flex;
                    align-items: center;
                    .dollar {
                        margin-right: 5px;
                        font-family: "0xProto";
                        color: white;
                    }
                    .textarea {
                        width: 400px;
                        background-color: transparent;
                        font-family: "0xProto";
                        font-size: 1rem;
                        border: none;
                        outline: none;
                        resize: none;
                        color: white;
                    }
                }
            }
            .commandContainer::-webkit-scrollbar-thumb {
                background-color: #707070;
                border-radius: 10px;
            }
        }
    }
    .correct-char {
        color: red;
    }
}