@font-face {
    font-family: "SourceHanCode";
    src: url("../fonts/SourceHanCodeJP-Light.otf");
}
:root {
    --white: #fff;
    --header: #010509;
    --background: #010509aa;
    --btn: #26a641;
    --btn_hover: #39D353;
    --font-family: "SourceHanCode";
}
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    background: var(--background);
    .header {
        background: var(--header);
        font-family: var(--font-family);
        box-sizing: border-box;
        width: 100%;
        .header-inner {
            display: flex;
            align-items: center;
            justify-content: space-between;
            max-width: 1024px;
            height: 60px;
            padding: 0 0.8em;
            margin: 0 auto;
            font-size: 1.2em;
            .logo img {
                padding-top: 20px;
                width: 65px;
                height: 65px;
            }
            .logo{
                .logolink{
                    display: flex;
                    color: var(--white);
                    text-decoration: none;
                }
            }
            .header-nav {
                display: flex;
                align-items: center;
            }
            .header-nav-item {
                display: flex;
                align-items: center;
                margin-left: 16px;
                .header-button {
                    box-sizing: border-box;
                    display: inline-block;
                    padding: 0.5em 1.2em;
                    font-size: 12px;
                    text-decoration: none;
                    cursor: pointer;
                    user-select: none;
                    font-weight: bold;
                    color: var(--white);
                    background-color: var(--btn);
                    border-radius: 3px;
                }
                .header-button:hover {
                    background-color: var(--btn_hover);
                }
            }
        }
    }
}