@font-face {
    font-family: "0xProto";
    src: url("../fonts/0xProto-Regular.woff2");
}
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    background: #0e0e0e;
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 80%;
        .graph {
            width: 30%;
            position: relative;
            left: 10%;
            margin-top: 100px;
        }
        .typing {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            width: 70%;
            position: relative;
            left: -10%;
            .text-center{
                font-family: "0xProto";
                color: aliceblue;
            }
        }
    }
    .correct-char {
        color: #39D353;
    }
}